body {
    font-family: 'Press Start 2P', cursive;
}

#pokegraphs {
    position:relative;
    overflow: hidden;
}

#charts {
    width:100%;
}

#canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

#info {
    color: #8e44ad;
    position: absolute;
    top: 10px;
    right: 20px;
}

#buttons {
    position: absolute;
    top: 40px;
    right: 20px;
}

#buttons a {
    padding: 0 2px;
}

#buttons .fa {
    color: #9b59b6;
}

#buttons .fa.active {
    color: #1abc9c;
}

.color-block {
    display: block;
    width: 100px;
    height: 100px;
}

.animated {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
}

@-webkit-keyframes fadeOutRight {
    0% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateX(160px);
    }
}

@keyframes fadeOutRight {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(160px);
    }
}

.fadeOutRight {
    -webkit-animation-name: fadeOutRight;
    animation-name: fadeOutRight;
}