body {
    font-family: 'Press Start 2P', cursive;
}

#info {
    color: #8e44ad;
    position: absolute;
    top: 10px;
    right: 20px;
}
#buttons {
    position: absolute;
    top: 40px;
    right: 20px;
}
#buttons a {
    padding: 0 2px;
}
#buttons .fa {
    color: #9b59b6;
}
#buttons .fa.active {
    color: #1abc9c;
}

#canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}
#charts {
    width:100%;
}
.color-block {
    display: block;
    width: 100px;
    height: 100px;
}