body {
    font-family: 'Press Start 2P', cursive;
}

#info {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 25px;
    text-align: center;
}

#canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}
#charts {
    width:100%;
}
.color-block {
    display: block;
    width: 100px;
    height: 100px;
}