body {
    font-family: 'Press Start 2P', cursive;
}

#pokegraphs {
    position:relative;
    overflow: hidden;
}

#charts {
    width:100%;
}

#canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

#love {
    color: #8e44ad;
    position: absolute;
    top: 10px;
    left: 20px;
}

#info {
    color: #8e44ad;
    position: absolute;
    top: 12px;
    right: 20px;
}
@media (max-width: 728px) {
    #info {
        top: 0;
        right: 0;
        margin: 5px;
    }
}

#info input {
    color: #8e44ad;
}
.ui-widget {
    color: #8e44ad;
    font-family: 'Press Start 2P', cursive;
    font-size:14px;
}
.ui-widget .ui-menu-item {
    padding-left: 11px;
}

#buttons {
    position: absolute;
    top: 44px;
    right: 22px;
    text-align: right;
    width: 100%;
}
@media (max-width: 728px) {
    #buttons {
        top: 40px;
        right: 6px;
    }
}

#love .lead {
    margin-bottom: 10px;
}

#buttons a {
    padding: 0 2px;
}

.fa {
    color: #9b59b6;
}

.fa:hover {
    color: #8e44ad;
}

.fa.active {
    color: #1abc9c;
}

.fa-question {
    padding: 0 0 0 10px;
}

#extraInfo {
    text-align: right;
    color: #8e44ad;
}

.color-block {
    display: block;
    width: 100px;
    height: 100px;
}

.animated {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
}

@-webkit-keyframes fadeOutRight {
    0% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateX(160px);
    }
}

@keyframes fadeOutRight {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(160px);
    }
}

.fadeOutRight {
    -webkit-animation-name: fadeOutRight;
    animation-name: fadeOutRight;
}